body {
  background-color:  #B7B7B7; /* #F4F6FF; */ /* #FFFFFF; */
}

/*#DFDFDE*/
/*#95BDFF*/
/*OK-facebook #3E54AC*/
/* aproape de facebook #537FE7*/
/* real facebook color #3B5998*/

/*
hr {


width: 10%;
border-style: none;
border-top-style: dotted;

border-color: grey;
border-width: 5px;

}

*/

h1 {
  color: /*#3B5998 #66BFBF  */ black;
  font-variant: small-caps;
  font-style: normal;
  font-size: 40px;
font-family: sans-serif;
}

h2 {
  color: black;
  font-family: serif;
}

h3{
  color: #B7B7B7; /* #3B5998 */ /*#66BFBF*/;
  font-size: 17px;
 /* font-style: oblique; */
  font-family: sans-serif;
}

.avantaje{
  color:   #000000;   /* #F4F6FF;*/ /* #213555;  */
  font-family: sans-serif;
  font-style: bold;
  font-size: 22px;
}

.contact{
color: white;
}

.roll{
  color: white; 
font-size: 22px;  
font-style: bold;
}

.it {
  color: red
}

label {
  color:  white; /*#F7F7F8; */
  font-family: sans-serif;
  
}

.img1 {
  border-radius: 0.5%;
  border-color: #DA0463;    /* white;*/
  border: 3px 
  width: 200px;
  height: 100px;
}

.img5 {
  border-radius: 0.5%;
  /*border-color: #DA0463;  */  /* white;*/
  border: 7px solid #404B69;
 /* border: 3px */
  width: 200px;
  height: 200px;
}

hr{
  width: 480px;

}

p {
  color: ;  # 000000; /*#66BFBF;  */
  font-size: 22px;

}

.buton{
  color: #3B5998;
}

/*
h4{
  color: #66BFBF ;
  text-align: justify;

}
*/

h4{
  color:      /* #B7B7B7; */ #000000;   /* #3B5998 */ /*#66BFBF*/;
  font-size: 24px;
 /* font-style: oblique; */
  font-family: sans-serif;
}

img {

  align-items: center;
  border-radius: 20%;
  width: 240px;
  height: 200px;

  outline: none;
    border: 7px solid #404B69;

    line-height: 2;

    color: #DA0463;    
  display: inline-block;

    margin: 10px;
}

.img2 {

  align-items: center;
  border-radius: 20%;
  width: 430px;
  height: 200px;

  outline: none;
    border: 7px solid #404B69;

    line-height: 2;

    color: #DA0463;    
  display: inline-block;

    margin: 10px;
}


a {
  color:   #000000; /*  white ; */
  align-items: center;

}

.top-container {
/* background-color: #F7E7DC; */ /*ok#EEEDEB;#E6B9A6; #F5EDED;#F5EDED;#E4F9F5;*/ 
background-color:   #F4F6FF; /* #E4F9F5; */

}

.misiune-container {
background-color:   #F4F6FF;   /* #E4F9F5;  */
/*    E6B9A6; */

}

.membrii-container {

background-color:   #F4F6FF;  /* #E7F0DC;  */

 /*background-color: #FFDBAA; */
}

.imagini-container {

  background-color:  #F4F6FF;  /*  #DDDDDD; */

}

.evenimente-container {

  background-color:   #F4F6FF;  /* #C7C8CC;  */

}

.footer-container {
background-color: #213555;

}

* {
  text-align: center ;
}
